<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
        <title> {{ title }} </title>
        <script src="../js/validateForm.js"></script>
        <script>
        var myForm = "addCourse";
        var myFields;
        var fields = [
                    "code",
                    "name",
                    "price",
                    "year"
                    ];
        </script>
        <script>
        function editCredit()
        {
            var tag = document.getElementById("credits");
            var years = document.getElementById("mySelect").value;
            var inputs = "Credit Needed:<br />";
            myFields = fields.slice();
            for(i=1;i<=years;i++)
            {
                inputs+= "Year "+ i + ": <input type=\"text\" name=\"credit\" /><br />";
                myFields.push("y"+i.toString());
            }
            tag.innerHTML = inputs;
        }
        </script>
  </head>
  <body>
    <h1> {{ title }} </h1>
    <p>
    <a href="{{ navigator.course.url }}">
        {{ navigator.course.text }}
    </a>
    |
    <a href="{{ navigator.subject.url }}">
        {{ navigator.subject.text }}
    </a>
    </p>
    <p>
    <form name="addCourse"
        action="{{ action }}"
        method="{{ method }}"
        id="addCourse"
        onsubmit="return validateForm(myForm, myFields)">
        <p>
            Course Code:
            <input type="text" name="code" />
            Course Name:
            <input type="text" name="name" />
            Year:
            <select name="year" id="mySelect" onchange="editCredit()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </p>
        <p id="credits">
            <script>
                editCredit();
            </script>
        </p>
        <p>
        </p>
        <p>
            <input type="submit" name="action" value="add" />
        </p>
    </form>
    </p>
    <p>
    <table border="1">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Years</th>
        <th colspan="5">Credits</th>
      </tr>
      {% for course in courses %}
      <tr>
        <form action="{{ action }}" method="get">
            <td>
                <input style="border:none" type="text" name="code" value="{{ course.code }}" disabled="true" />
                <input type="hidden" name="code" value="{{ course.code }}" />
            </td>
            <td><input style="border:none" type="text" name="name" value="{{ course.name }}" /></td>
            <td><input style="border:none" type="text" name="year" value="{{ course.year }}" /></td>
            {% for credit in course.credits %}
            <td><input style="border:none" type="text" name="credit" value="{{ credit }}" size="4" /></td>
            {% endfor %}
            <td><input type="submit" name="action" value="update" /></td>
            <td><input type="submit" name="action" value="delete" /></td>
            <td><input type="submit" name="action" value="manage" /></td>
        </form>
      </tr>
      {% endfor %}
    </table>
    </p>
  </body>
</html>
