<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=windows-1252" http-equiv="content-type">
    <title> {{ title }} </title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function addSubject()
        {
            var xmlhttp;
            var subject;
            var compulsory;
            var url;
            subject = document.getElementById("mySelect").value;
            compulsory = document.getElementById("compulsory").checked?1:0;
            url = "add-subject-to-course?";
            url += "courseCode=" + "{{ course.code }}";
            url += "&subjectCode=" + subject;
            url += "&compulsory=" + compulsory;
            url += "&courseYear=" + "{{ yearSelect }}";
            if (window.XMLHttpRequest)
            {// code for IE7+, Firefox, Chrome, Opera, Safari
                xmlhttp=new XMLHttpRequest();
            }
            else
            {// code for IE6, IE5
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    document.location.reload(true);
                }
            }
            xmlhttp.open("GET",url,true);
            xmlhttp.send();
        }

    </script>
  </head>
  <body>
    <h1> {{ title }} </h1><p>
    <a href="{{ navigator.course.url }}">
        {{ navigator.course.text }}
    </a>
    |
    <a href="{{ navigator.subject.url }}">
        {{ navigator.subject.text }}
    </a>
    </p>
    <h2>{{ course.code }} - {{ course.name }}</h2>
    <p>       
        {% for year in years %}
        {% if year != yearSelect %}
        <a href="{{ url }}{{ year }}">
        {% endif %}
        Y{{ year }}
        {% if year != yearSelect %}
        </a>
        {% endif %}
        {% endfor %}
    </p>
    <p>
    <select name="subjects" id="mySelect" onchange="editCredit()">
        {% for subject in subjects %}
        <option value="{{ subject.code }}">{{ subject.name }} - Y{{ subject.year }}</option>
        {% endfor %}
    </select>
    Compulsory:
    <input type="checkbox" id="compulsory">
    <input type="button" name="add" value="Add" onclick="addSubject()"></input>
    
    </p>
    <table border="1">
        {% for cs in courseSubjects %}
          <tr>
            {% for ms in mySubjects %}
                {% if cs.subjectCode == ms.code %}
                <td>
                    {{ ms.name }} Y{{ ms.year }}
                    {% if not cs.compulsory %}
                        (Optional)
                    {% endif %}
                </td>
                <td>
                  <form action="{{ action }}" method="{{ method }}">
                    <input type="hidden" name="courseCode" value="{{ course.code }}" />
                    <input type="hidden" name="subjectCode" value="{{ ms.code }}" />
                    <input type="hidden" name="courseYear" value="{{ cs.courseYear }}" />
                    <input type="hidden" name="compulsory" value="{% if cs.compulsory %}1{% else %}0{% endif %}" />
                    <input type="submit" name="action" value="delete" />
                  </form>
                </td>
                {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
  </body>
</html>
