<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {{ title }}
    </title>
</head>
<body>
<h1>
    {{ title }}
</h1>
{{ loginMsg }}
{% if not student %}
<form action="{{ action }}">
    Student ID: <input type="text" name="id" />
    PIN: <input type="password" name="pwd" />
    <input type="submit" name="login" value="Login"/>
</form>
{% else %}
<form action="{{ action }}">
    {{ student.fname }} {{ student.lname }} - {{ student.id }}<input type="submit" name="login" value="Logout" />
</form>
<br />
<h2>{{ course.code }} - {{ course.name }}</h2>
<table>
    <tr>
        <td>Credit Required:</td>
        <td>{{ creditRequired }}</td>
    </tr>
    <tr>
        <td>Credit Earned:</td>
        <td>{{ creditEarned }}</td>
    </tr>
</table>
<table border="1">
    <tr>
       <th>Subject</th>
       <th>Credit</th>
    </tr>
    {% for subject in subjects %}
    <tr>
        <td>{{ subject.name }}</td>
        <td>{{ subject.credit }}</td>
    </tr>
    {% endfor %}
</table>
    {% if creditRequired > creditEarned %}
    <p><h3>You cannot register next year course.</h3></p>
    {% else %}
    <p>
        <input type="button" name="register" id="register" value="Register Next Year by One Click"/>
    </p>
    {% endif %}
{% endif %}


</body>
</html>